<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="new">
      Reminders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <br>
  <ion-segment value="list">
    <ion-segment-button value="list">
      <ion-label>List View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calendar">
      <ion-label>Calendar View</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>

  <ion-button color="new" fill="outline" expand="full" expand="block" (click)="setOpen(true)">
    <ion-icon color="new" slot="start" name="notifications-circle-outline">
    </ion-icon><ion-icon color="new" slot="end" name="information-circle-outline"></ion-icon>
    Jan 20, 2023 - 3:30 PM
  </ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Event Info</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" color="new">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="new">Date: Jan 20, 2023 - 3:00 PM</ion-card-subtitle>
              <ion-row>
                <ion-col>
              <ion-card-title>UT Tech Con</ion-card-title>
            </ion-col>
              <ion-col size="2">
              <ion-button color="new" fill="clear" size="small"><ion-icon color="new" slot="icon-only" name="pencil-outline"></ion-icon></ion-button>
            </ion-col>
            </ion-row>
            </ion-card-header>
            <ion-card-content>
                  <ion-card-subtitle>Location: UT Main Building</ion-card-subtitle>
                  <ion-note>Casual attire, going with Jim and Nancy. Meet at Unionville station.</ion-note>
            </ion-card-content>
          </ion-card>
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button color="new" fill="outline" expand="full" expand="block" (click)="setOpen(true)">
    <ion-icon color="new" slot="start" name="notifications-circle-outline"></ion-icon>
    <ion-icon color="new" slot="end" name="information-circle-outline"></ion-icon>
    Jan 20, 2023 - 3:30 PM
  </ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Event Info</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" color="new">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="new">Date: Jan 20, 2023 - 3:00 PM</ion-card-subtitle>
              <ion-row>
                <ion-col>
              <ion-card-title>UT Tech Con</ion-card-title>
            </ion-col>
              <ion-col size="2">
              <ion-button color="new" fill="clear" size="small"><ion-icon slot="icon-only" color="new" name="pencil-outline"></ion-icon></ion-button>
            </ion-col>
            </ion-row>
            </ion-card-header>
            <ion-card-content>
                  <ion-card-subtitle>Location: UT Main Building</ion-card-subtitle>
                  <ion-note>Casual attire, going with Jim and Nancy. Meet at Unionville station.</ion-note>
            </ion-card-content>
          </ion-card>
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-button color="new" fill="outline" expand="full" expand="block" (click)="setOpen(true)">
    <ion-icon color="new" slot="start" name="notifications-circle-outline"></ion-icon>
    <ion-icon color="new" slot="end" name="information-circle-outline"></ion-icon>
    Jan 20, 2023 - 3:30 PM
  </ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Event Info</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" color="new">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="new">Date: Jan 20, 2023 - 3:00 PM</ion-card-subtitle>
              <ion-row>
                <ion-col>
              <ion-card-title>UT Tech Con</ion-card-title>
            </ion-col>
              <ion-col size="2">
              <ion-button color="new" fill="clear" size="small"><ion-icon slot="icon-only" color="new" name="pencil-outline"></ion-icon></ion-button>
            </ion-col>
            </ion-row>
            </ion-card-header>
            <ion-card-content>
                  <ion-card-subtitle>Location: UT Main Building</ion-card-subtitle>
                  <ion-note>Casual attire, going with Jim and Nancy. Meet at Unionville station.</ion-note>
            </ion-card-content>
          </ion-card>
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>




  
  
  <!-- <ion-button fill="outline" expand="full"><ion-icon slot="end" name="information-circle-outline"></ion-icon>Jan 20, 2023 - 3:30 PM</ion-button>
  <ion-button fill="outline" expand="full"><ion-icon slot="end" name="information-circle-outline"></ion-icon>Jan 20, 2023 - 3:30 PM</ion-button>
  <ion-button fill="outline" expand="full"><ion-icon slot="end" name="information-circle-outline"></ion-icon>Jan 20, 2023 - 3:30 PM</ion-button> -->


<!-- <ion-list>
  <ion-item>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="medium"><ion-icon slot="icon-only" name="information-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  <ion-label>Jan 20, 2023 - 3:30 PM</ion-label>
  <ion-buttons slot="end">       
    <ion-button fill="clear" size="small"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-item>

<ion-item>
  <ion-buttons slot="start">
    <ion-button fill="clear" size="medium"><ion-icon slot="icon-only" name="information-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
<ion-label>Jan 20, 2023 - 3:30 PM</ion-label>
<ion-buttons slot="end">       
  <ion-button fill="clear" size="small"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-button>
</ion-buttons>
</ion-item>

<ion-item>
  <ion-buttons slot="start">
    <ion-button fill="clear" size="medium"><ion-icon slot="icon-only" name="information-circle-outline"></ion-icon></ion-button>
  </ion-buttons>
<ion-label>Jan 20, 2023 - 3:30 PM</ion-label>
<ion-buttons slot="end">       
  <ion-button fill="clear" size="small"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-button>
</ion-buttons>
</ion-item>
</ion-list> -->

</ion-content>
